/*========================*/
html {
    line-height: 1.15; /* 1 */
    -webkit-text-size-adjust: 100%; /* 2 */
  }
  
  body {
    margin: 0;
  }

  main {
    display: block;
  }
  

  h1 {
    font-size: 2em;
    margin: 0.67em 0;
  }
  
  hr {
    box-sizing: content-box; /* 1 */
    height: 0; /* 1 */
    overflow: visible; /* 2 */
  }
/*---------------------*/
header {
	width: 100%;
	height: 80px;
	background: #262627;
}
   

img#logo { 
    margin-left: 70px;
    margin-right: 100px;
    position: absolute;
    top: -10px;
    left: 0; 
}

nav {
    display: inline-block;
    margin-left: 400px;
    margin-top: 30px;
}

a {
	color:rgb(205, 156, 44);
	text-decoration: none;
	font-weight: 2em;
	font-family: 'roboto';
	margin-right: 20px;
    padding: 30px;
}

a:hover {
    color: white;
    background: #262627;
    padding: 30px;
}

button {
    
    height: 50px;
    background: #262627;
    color: white;
    font-size: 1em;
    border:none;
}

button:hover {
    background:#3d3d3e;
}

h1 {
    font-size: 4em;
}

h3 {
    font-size: 2em;
}

p {
    font-size: 2em;
}

/*
============================================*/