section#content {
    color:aliceblue;
    position: absolute;
    top: 400px;
    left: 600px;

}

img#slide {
    width: 100%;
    height: auto;
}

img {
    border-style: none;
  }
  
/*----------------------------------------------------------*/


section#about {
    width: 100%;
    height: 509px;
    background: #252525;
    position: absolute;
    top: 1040px;
    left: 400;
}

div.about {
	color:rgb(205, 156, 44);
	text-align: center;
}

div.events {
    width: 300px;
    height: 200px;
    background: #3d3d3e;
    text-align: center;
    color:rgb(205, 156, 44);
    position: absolute;
    top: 200px;
    left: 250px;
}

div.reviews {
    width: 300px;
    height: 200px;
    background: #3d3d3e;
    text-align: center;
    color:rgb(205, 156, 44);
    position: absolute;
    top: 200px;
    left: 600px;
} 

div.humans {
    width: 300px;
    height: 200px;
    background: #3d3d3e;
    text-align: center;
    color:rgb(205, 156, 44);
    position: absolute;
    top: 200px;
    left: 951px;
}

div.content {
    width: 300px;
    height: 200px;
    background: #3d3d3e;
    text-align: center;
    color: white;
    position: absolute;
    top: 212px;
    left: 1301px;
}

















/*-----------------------*/
footer
{
    width:100%;
    height:80px;
    background: #262627;
    position: absolute;
    top: 1530px;
    left: 300;
}

p#footer {
    text-align: center;
    color: rgb(205, 156, 44);
    margin-top: 32px;
    font-size: 1em;
}