body
{
    background-color:rgb(251, 253, 255)
}

.btn-primary
  {
    border-color: #262627;
    border-style:solid;
    background: transparent;
 color:rgb(205, 156, 44);
  }

  .btn-primary:hover
  {
    background:#262627;
    color:rgb(205, 156, 44);
    align-self: center;
    border-color: #262627;
  }
.dropdown-menu      { background-color:#262627; }
.dropdown-menu:hover{ color: rgb(226, 209, 193);}
.dropdown-item{ color:rgb(205, 156, 44)}
.dropdown-item:hover {  background:#e8dbb3;}
  .carousel-caption
  {
    position: absolute;
   top: 8%;
    left: 10%;
    z-index: 20;
    color: black
  }
.card-subtitle 

{
  position: absolute;
  left:5%;
  top:45%;
  padding-bottom: 10%;
  
}
a
{
	font-weight: 3em;
    font-size:x-large;
	font-family:cursive;
    color:rgb(205, 156, 44);
	text-decoration: none;
	margin-right: 20px;
    padding: 50px;
}

a:hover {
    color: rgb(240, 232, 225);
    
    /*padding: 30px;*/
}
 .form-control-color {
  color:rgb(114, 15, 107)
 }
 
 
section{
    padding:20px 0;
  }

.container_about
{
    background-color:#252525;
    color:rgb(205, 156, 44)
}
h2
{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.highlight{background-color:yellow}